@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
:root {
  --gradient: linear-gradient(135deg, var(--dark-purple), var(--light-purple));
  --dark-purple: #032b88;
  --light-purple: #7935c9;
  --brown: #2f2d01;
  --white: #ffffff;
  --grey: #f1efee;
  --med-grey: #bbbbbb;
  --dark-grey: #808080;
}

body {
  font-family: "Open Sans", sans-serif;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 0;
  color: var(--brown);
}

a {
  text-decoration: none;
}

p {
  font-size: 1.5rem;
}

.center-container {
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

iframe {
  width: 100%;
  display: block;
  margin: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 1rem 0;
}

table th,
table td {
  border: 1px solid var(--med-grey);
  padding: 0.75rem 1rem;
  text-align: left;
  vertical-align: top;
}

table th {
  background-color: var(--med-grey);
  font-weight: bold;
}

table tr:nth-child(even) {
  background-color: var(--grey);
}

table tr:nth-child(odd) {
  background-color: var(--white);
}