@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
:root {
  --gradient: linear-gradient(135deg, var(--dark-purple), var(--light-purple));
  --dark-purple: #032b88;
  --light-purple: #7935c9;
  --brown: #2f2d01;
  --white: #ffffff;
  --grey: #f4f6fa;
  --med-grey: #bbbbbb;
  --dark-grey: #808080;
}

body {
  font-family: "Open Sans", sans-serif;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 0;
  color: var(--brown);
}

a {
  text-decoration: none;
}

p {
  font-size: 1.5rem;
}

h2 {
   color: var(--dark-purple);
}

h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
}

.company-logo {
  flex-shrink: 0;
  width: 5rem;
  height: 5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.company-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-no-justify {
  display: flex;
  align-items: center;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

iframe {
  width: 100%;
  display: block;
  margin: auto;
}
